@model WebApi.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Register</h1>

@using (Html.BeginForm("Login1", "Account", FormMethod.Post, new{@class="", role="form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <p>
        @Html.LabelFor(m=>m.UserName)
        @Html.TextBoxFor(m=>m.UserName)
    </p>

     <p>
        @Html.LabelFor(m=>m.Password)
        @Html.TextBoxFor(m=>m.Password)
    </p>
   
    <input type="submit" value="Login">

}

